.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: white;
  border-bottom: 2px solid black;
}

.NavBar a {
  padding: 0 .4em;
  text-decoration: none;
}

.NavBar a:visited {
  color: rgb(169, 169, 169);
}