.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: white;
  border-bottom: 2px solid black;
}

.NavBar a {
  padding: 0 .4em;
  text-decoration: none;
}

.NavBar a:visited {
  color: rgb(76, 76, 76);
}

.NavBar a:hover {
  color: #0056b3;
}