.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: rgb(199, 199, 199);
  border: 3px solid black;
}

.NavBar a {
  padding: 0 .2em;
  text-decoration: none;
}

.NavBar a:visited {
  color: rgb(77, 77, 232);
}